body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url('../public/bg.jpg');
    object-fit: fill;
}

html {
    background: url('../public/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#dropdownMenu {
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

form {
    padding: 150px 0 0 0;
    width: 450px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
}
