.product-item.product-row{
    width: 100%;
    padding: 30px;
    background-color: white;
    border-left: 3px solid lightblue;
}

.product-item.product-row > td{
    border: 0;
    text-align: center;
    border-bottom: 2px solid lightgray;
}