.product-list.add-btn{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.product-list.container{
    padding: 20px;
    padding-top: 50px;
}

.product-list.table-of-products > thead > tr > th{
    padding: 20px;
    border: 0;
    color: white;
}

.product-list.table-of-products > thead{
    background-color: #134074;
    border: 2px solid #134074;
    padding-bottom: 5px;
}


.product-list.table-of-products{
    margin: auto;
}