<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(112, 169, 204)
        }

        .Prva {
            margin: 5%;
            border: 1px solid black;
            background-color: rgb(112, 169, 204);
            border-radius: 10%;
            text-align: center;
        }

        .Druga {
            margin: 5%;
            border: 1px solid black;
            background-color: rgb(112, 169, 204);
            border-radius: 50%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="Prva">
        <h1>
            Hi [name], we are happy you signed in via TFA.
        </h1>
        <h2>Verify your account by inserting this code:</h2>
    </div>
    <div class="Druga">
        <h2>[code]</h2>
    </div>
</body>

</html>